/*Services section stylesheet*/

.services-container {
    height: 66rem;
    width: 100%;
    background-color: var(--primary-color-9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 12.4rem 10rem 12.4rem;
}

.services-container h1 {
    font-family: var(--text-font);
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--alternative-color-7);
    margin: 0 0 3.9rem 0;
}

.container-content-services {
    display: flex;
}

.content-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 37rem;
    max-width: 28rem;
    margin-right: 15.7rem;
}

.content-services:last-of-type {
    margin-right: 0px;
}

.content-services img {
    object-fit: cover;
    height: 12.8rem;
    width: 12.8rem;
}

.content-services h2 {
    font-family: var(--alternative-font);
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--alternative-color-7);
    text-align: center;
    margin: 1.5rem 0 1rem 0;
    text-transform: uppercase;
}

.content-services p {
    font-family: var(--alternative-font);
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--primary-color-2);
    text-align: center;
    line-height: 1.5;
    vertical-align: top;
}

.content-services p b {
    font-weight: 600;
}

@media(max-width: 1400px) {
    .services-container {
        padding-top: 15rem;
    }
}

@media (max-width: 1200px) {

    .services-container {
        height: auto;
        padding: 15rem 2rem 5rem 2rem;
        
    }

    .container-content-services {
        flex-direction: column;
    }

    .content-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 37rem;
        max-width: 28rem;
        margin: 0 0 5rem 0;
    }

    .content-services:nth-last-of-type(1) {
        margin: 0;
    }
}

@media (max-width: 585px) {
    .services-container h1 {
        font-size: 3.2rem;
    }

    .content-services p {
        font-size: 1.6rem;
    }
}