/* General Configuration */

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body, p, h1, h2, ul, li {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --primary-color-1: #232323;
    --primary-color-2: #333333;
    --primary-color-4: #5C5C5C;
    --primary-color-8: #C7C7C7;
    --primary-color-9: #DEDEDE;
    --alternative-color-2: #E8BF7D;
    --alternative-color-3: #F0AE42;
    --alternative-color-4: #FF9E00;
    --alternative-color-6: #995F00;
    --alternative-color-7: #663F00;
    --alternative-gradient: linear-gradient(to right, #FF9E00, #CC7E00);
    --alternative-gradient-hover: linear-gradient(to right, #FF9E00, #FF9E00);
    --text-font: 'poppins', sans-serif;
    --alternative-font: 'inika', serif;
    --logo-font: 'orbitron', sans-serif;
}


/*Nav and page initial stylesheet*/

.main-container {
    height: 120rem;
    width: 100%;
    background-color: var(--primary-color-4);
    background-image: url("./img/main-background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-attachment: fixed;
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%;
    margin: 0rem;
    padding: 6rem 11.5rem;
}

.navbar-container span {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--primary-color-1);
    cursor: pointer;
}

.list-nav {
    display: flex;
    flex-direction: row;
}

.list-nav li {
    font-size: 2.4rem;
    font-family: var(--alternative-font);
    font-weight: 400;
    color: var(--primary-color-1);
    margin-right: 1.6rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: ease-in-out .5s;
    border-bottom: 0.3rem solid transparent;
}

.list-nav li:last-child {
    margin-right: 0rem;
}

.list-nav li:hover {
    border-bottom: 0.3rem solid var(--alternative-color-4);
}

.list-nav li a {
    color: var(--primary-color-1);
}

.main-text {
    position: absolute;
    bottom: 20rem;
    left: 11.5rem;
    margin: 0 15rem 0 0;
    height: 14.1rem;
    max-width: 82.9rem;
}

.main-text h1 {
    font-size: 3.6rem;
    font-family: var(--alternative-font);
    font-weight: 700;
    line-height: 1.3;
    color: var(--primary-color-9);
    text-transform: uppercase;
}

.main-text h1 b {
    color: var(--alternative-color-4);
}

.main-text button {
    margin-top: 3rem;
    height: 6.2rem;
    width: 28rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--alternative-gradient);
    color: var(--alternative-color-7);
    font-size: 3.2rem;
    font-family: var(--alternative-font);
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.main-text button:hover {
    transition: ease-in .4s;
    border: .1rem solid var(--alternative-color-3);
}


/*about section stylesheet*/

.about-container {
    height: 83.4rem;
    width: 100%;
    background-color: var(--primary-color-1);
    display: grid;
    grid-template-columns: 70rem, auto;
    grid-template-rows: 1fr 10.6rem;
}

.about-content {
    margin: 9rem 0 0 11.5rem;
}

.about-container h1{
    font-size: 3.6rem;
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--primary-color-4);
    position: relative;
}

.about-container h1::after {
    content: '';
    height: 0.3rem;
    width: 2rem;
    background: var(--alternative-gradient);
    margin-left: 0.6rem;
    position: absolute;
    top: 4rem;
}

.about-container p {
    font-size: 2.4rem;
    font-family: var(--text-font);
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color-9);
    height: 39.6rem;
    width: 57.6rem;
    margin: 4rem 0 0 0;
}

.detail-image {
    grid-column: 1/2;
    align-self: end;
    margin: 0 0 1rem 1rem;
}

.business-image {
    max-width: 100%;
    grid-column: 3/4;
    grid-row: 1/4;
    max-height: 83.4rem;
    height: auto;
    width: 80rem;
    justify-self: end;
    object-fit: cover;
}


/*Services section stylesheet*/

.services-container {
    height: 66rem;
    width: 100%;
    background-color: var(--primary-color-9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 12.4rem 10rem 12.4rem;
}

.services-container h1 {
    font-family: var(--text-font);
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--alternative-color-7);
    margin: 0 0 3.9rem 0;
}

.container-content-services {
    display: flex;
}

.content-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 37rem;
    max-width: 28rem;
    margin-right: 15.7rem;
}

.content-services:last-of-type {
    margin-right: 0px;
}

.content-services img {
    object-fit: cover;
    height: 12.8rem;
    width: 12.8rem;
}

.content-services h2 {
    font-family: var(--alternative-font);
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--alternative-color-7);
    text-align: center;
    margin: 1.5rem 0 1rem 0;
    text-transform: uppercase;
}

.content-services p {
    font-family: var(--alternative-font);
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--primary-color-2);
    text-align: center;
    line-height: 1.5;
    vertical-align: top;
}

.content-services p b {
    font-weight: 600;
}

/*Promotion section stylesheet*/

.promotion-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 9rem 11.5rem 6.6rem 11.5rem;
    height: 66rem;
    width: 100%;
    background-color: var(--primary-color-1);
}

.promotion-container h1 {
    font-family: var(--text-font);
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--primary-color-4);
    position: relative;
    grid-column: 1/2;
    margin: 0 0 3.9rem 0;
}

.promotion-container h1::after {
    content: '';
    height: 0.3rem;
    width: 2rem;
    background: var(--alternative-gradient);
    margin-left: 0.6rem;
    position: absolute;
    top: 4rem;
}

.promotion-container p {
    max-height: 32.4rem;
    max-width: 54rem;
    font-family: var(--text-font);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: var(--primary-color-8);
    grid-column: 1/2;
}

.promotion-container p b {
    color: var(--primary-color-9);
    font-weight: 600;
}

.promotion-container button {
    height: 6.2rem;
    width: 30.5rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--alternative-gradient);
    font-family: var(--alternative-font);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    color: var(--alternative-color-7);
    grid-column: 1/2;
    cursor: pointer;
}

.promotion-container button:hover {
    transition: ease-in .4s;
    border: .1rem solid var(--alternative-color-3);
}

.promotion-container img {
    grid-column: 2/3;
    justify-self: center;
    grid-row: 2/3;
    max-height: 36.5rem;
    max-width: 100%;
    height: auto;
    width: 54.8rem;
    object-fit: cover;
    box-shadow: 1.5rem 1.5rem 0.8rem #000;
}


/*Opinions section stylesheet*/

.opinions-container {
    display: grid;
    grid-template-columns: 1fr minmax(auto,30.6rem) 1fr;
    grid-template-rows: auto 40rem 40rem;
    min-height: 95.8rem;
    width: 100%;
    background: var(--alternative-gradient);
    padding: 9rem 45rem 9rem 45rem;
}

.opinions-container h1 {
    position: relative;
    grid-column: 2/3;
    font-family: var(--text-font);
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--alternative-color-2);
    text-align: center;
    height: min-content;
}

.opinions-container h1::before {
    position: absolute;
    content: '';
    height: 0.2rem;
    width: 20rem;
    background-color: var(--alternative-color-3);
    top: 2.6rem;
    right: 30rem;
}

.opinions-container h1::after {
    position: absolute;
    content: '';
    height: 0.2rem;
    width: 20rem;
    background-color: var(--alternative-color-3);
    top: 2.6rem;
    left: 30rem;
}

.opinion-content {
    min-height: 33rem;
    width: 34rem;
    border-bottom: 0.2rem solid var(--alternative-color-3);
    margin: 0 0 2rem 0;
}

.opinion-content:nth-of-type(1), .opinion-content:nth-of-type(3) {
    grid-column: 1/2;
}

.opinion-content:nth-of-type(2), .opinion-content:nth-of-type(4) {
    grid-column: 3/4;
    justify-self: end;
}

.opinion-content p {
    font-family: var(--text-font);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color-2);
}

.content-profile {
    display: flex;
}

.profile-picture {
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    margin: 1.5rem 1.5rem 3rem 0;
}

.content-profile h2 {
    font-family: var(--text-font);
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--alternative-color-6);
    text-align: left;
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Footer section stylesheet*/

.footer-container {
    position: relative;
    height: 49.8rem;
    width: 100%;
    padding: 19.8rem 11.5rem 10.7rem 11.5rem;
    background-color: var(--primary-color-1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info-contact-container {
    display: flex;
    flex-direction: column;
}

.info-contact-container:nth-of-type(3) {
    justify-self: center;
}

.info-contact-container h2 {
    position: relative;
    font-family: var(--text-font);
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--primary-color-4);
    margin: 0 0 2rem 0;
}

.info-contact-container h2::before{
    position: absolute;
    content: '';
    height: 1.7rem;
    width: 0.4rem;
    background: var(--alternative-gradient);
    top: 1rem;
    left: -1rem;
}

.info-contact-container span {
    font-family: var(--text-font);
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color-9);
    margin: 0 0 0.5rem 0;
    cursor: pointer;
}

.info-contact-container span:hover {
    transform: scale(1.1);
    transition: ease-in-out .4s;
}

.info-contact-container:nth-of-type(2) span:nth-of-type(1) {
    color: var(--alternative-color-4);
} 

.container-icons-contact {
    display: flex;
    flex-direction: row;
}

.info-contact-container img {
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

.info-contact-container img:nth-of-type(1) {
    margin-right: 1.6rem;
}

.container-author {
    height: 8.4rem;
    width: 100%;
    background: var(--alternative-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
}

.container-author span {
    font-family: var(--text-font);
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color-1);
    margin: 0 0 1rem 0;
}

.container-contact-author {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 6rem;
}

.container-contact-author img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

